<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Virtual Closet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--<div> class="md-menu"
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div id="navbar-layout-custom-style" class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ClosetSoft", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><i class="ionicons ion-tshirt"></i>@Html.ActionLink("Tops", "Index", "Tops")</li>
                    <li>@Html.ActionLink("Bottoms", "Index", "Bottoms")</li>
                    <li>@Html.ActionLink("Accessories", "Index", "Accessories")</li>
                    <li>@Html.ActionLink("Shoes", "Index", "Shoes")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ClosetSoft</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
